@page "/mihistoria"
<div style="padding:10px 15px; background-color:darkgray; text-align:center">  <h3>Mi Historia</h3>  </div>
<div style="display:flex;justify-content:center"> 
	<div class="container" style=" box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;">
		<div>
			<img src="images/user.jpeg" alt="Alternate Text" />
			<h2>
				Formación
			</h2>
			<p>
				Salí de la Universidad de Colima de la carrera ingenieria de Software genercaion 2023 - 2027
			</p>
			<button class="btn-primary">Conocer mas</button>
		</div>
	</div>

	<div class="container" style=" box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;">
		
		<div>
			<img src="images/for.jpeg" alt="Alternate Text" />
			<h2>
				Hobbies
			</h2>
			<p>
				Mis pasatiempos sin jugar Videojuegos y Tocar la guitarra
			</p>
			<button class="btn-primary">Conocer mas</button>
		</div>
	</div>

	<div class="container" style=" box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;">
		
		<div>
			<img src="images/carrera.jpeg" alt="Alternate Text" />
			<h2>
				Carrera
			</h2>
			<p>
				Ingeniero en Software, Software por encargo
			</p>
			<button class="btn-primary">Conocer mas</button>
		</div>
	</div>
</div>


@code {

}
